<h3>Here are all the items in this category:</h3>
<ol>
@if (@Model["items"] == null) {
    <p><a href='/items/new'>Add a new item</a></p>
} else {
    foreach (var item in @Model["items"])
    {
      <li><a href='/categories/@Model["category"].GetId()/items/@item.GetId()'>@item.GetDescription()</a><br> Should be done by @item.GetDate()</li>
    }
}
</ol>
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/home'>Return to Main Page</a></p>
